<div class="d-flex justify-content-center">
    <div class="col-md-5 mt-3">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value);">
            <div class="mb-3">
                <label for="nameSurname" class="form-label">Ad Soyad *</label>
                <input type="text" formControlName="adSoyad" class="form-control" placeholder="Ad Soyad"
                    id="nameSurname" [ngClass]="{'is-invalid': submitted && component.adSoyad.errors}">
                <div id="nameSurnameError1" class="form-text error-msg"
                    *ngIf="submitted && component.adSoyad.errors?.required">
                    Lütfen bu alanı boş geçmeyiniz.</div>
                <div id="nameSurnameError2" class="form-text error-msg"
                    *ngIf="submitted && (component.adSoyad.errors?.maxlength ||component.adSoyad.errors?.minlength )">
                    Lütfen 3 ile 50 karakter arasında yazınız.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Kullanıcı Adı *</label>
                <input type="text" formControlName="kullaniciAdi" class="form-control" placeholder="Kullanıcı Adı"
                    id="name" [ngClass]="{'is-invalid': submitted && component.kullaniciAdi.errors}">
                <div id="nameError1" class="form-text error-msg"
                    *ngIf="submitted && component.kullaniciAdi.errors?.required">
                    Lütfen bu alanı boş geçmeyiniz
                </div>
                <div id="nameError2" class="form-text error-msg"
                *ngIf="submitted && (component.kullaniciAdi.errors?.maxlength ||component.kullaniciAdi.errors?.minlength )">
                Lütfen 3 ile 50 karakter arasında yazınız.</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email *</label>
                <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Email" [ngClass]="{'is-invalid': submitted && component.email.errors}">
                <div id="emailError1" class="form-text error-msg" *ngIf="submitted && component.email.errors?.required">
                    Lütfen bu alanı boş geçmeyiniz.
                </div>
                <div id="emailError2" class="form-text error-msg" *ngIf="submitted && component.email.errors?.email">
                    Lütfen geçerli bir email giriniz.</div>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Şifre *</label>
                <input type="password" formControlName="sifre" class="form-control" placeholder="Şifre" id="password1"
                    [ngClass]="{'is-invalid': submitted && component.sifre.errors}">
                <div id="passwordError1" class="form-text error-msg"
                    *ngIf="submitted && component.sifre.errors?.required">
                    Lütfen bu alanı boş geçmeyiniz.</div>
                <div id="passwordError2" class="form-text error-msg"
                    *ngIf="submitted && (component.sifre.errors?.maxlength ||component.sifre.errors?.minlength )">
                    Lütfen 3 ile 50 karakter arasında yazınız.</div>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Şifre Tekrar *</label>
                <input type="password" formControlName="sifreTekrar" class="form-control" placeholder="Şifre Tekrar"
                    id="password2" [ngClass]="{'is-invalid': submitted && component.sifreTekrar.errors}">
                <div id="passwordRepError1" class="form-text error-msg"
                    *ngIf="submitted && component.sifreTekrar.errors?.required">
                    Lütfen bu alanı boş geçmeyiniz
                </div>
                <div id="passwordRepError2" class="form-text error-msg"
                    *ngIf="submitted && (component.sifreTekrar.errors?.maxlength ||component.sifreTekrar.errors?.minlength )">
                    Lütfen 3 ile 50 karakter arasında yazınız.
                </div>
                <div id="passwordRepError3" class="form-text error-msg" *ngIf="submitted && frm.hasError('notSame')">
                    Şifreler aynı değil.
                </div>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
            </div>
        </form>
    </div>
</div>