<div class="d-flex justify-content-center">
    <div class="col-md-5 mt-3">
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı Adı</label>
            <input #txtUsernameOrEmail type="text" class="form-control" placeholder="Kullanıcı Adı veya Email"
                id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input #txtPassword type="password" class="form-control" placeholder="Şifre" id="password">
        </div>
        
        <div style="display:flex; flex-direction: row;">
            <div class="mb-3" style="padding-right: 0.7em;">
                <button type="submit" class="btn btn-primary"
                    (click)="login(txtUsernameOrEmail.value,txtPassword.value)">Giriş Yap</button>
            </div>
            <p style="align-self: center;">Ya da</p>
            <div style="padding-left: 0.7em;padding-right: 0.7em;">
                <asl-google-signin-button type="icon" size="large"> </asl-google-signin-button>
            </div>

            <div>
                <img src="../../../../assets/facebook_icon.png" style="width:38px!important; cursor: pointer;" 
                (click)="facebookLogin()"/>
            </div>
        </div>
    </div>
</div>